.find {
  @include inlbl();
}
.find__input {
  @extend %hidden;
}
.find__button {
  position: relative;
  border: none;
  border-radius: 50%;
  font-size: 0;
  width: 33px;
  height: 33px;
  background: rgba($background-color-base, .2);

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    @include centered();
    @include sprite($zoom);
  }

  
}