.footer-menu {
  width: 460px;

  @include reset_mp();
  list-style: none;
  font-size: 0;
}

.footer-menu__item {
  @include inlbl();
  margin-right: 30px;
  margin-bottom: 8px;
}

.footer-menu__link {
  display: block;
  position: relative;

  font-size: 13px;
  line-height: 13px;
  color: $color-text-base;

  text-align: center;

  text-decoration: underline;
  text-decoration-color: rgba($background-color-base, .2);

  &:after {
    content: attr(title);
    display: block;
    font-weight: bold;

    height: 0;
    overflow: hidden;
    visibility: hidden;

  }

  &:hover {
    font-weight: $font-bold;
    cursor: pointer;
    
    &:before {
        content: '';
        @include centered(y);
        left:-20px;

        @include sprite($hart);
    }
  }  
}

