.footer-menu {
    width: 560px;

    @include reset_mp();
    list-style: none;
    font-size: 0;
}

.footer-menu__item {
    @include inlbl();

    margin-right: 30px;


}

.footer-menu__link {
    display: block;
    position: relative;

    padding-left: 23px;

    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: $color-text-base;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left:23px;
        right:0px;

        height: 1px;

        background: rgba($background-color-base, .2);
    }

    &:before {
        content: '';
        @include centered(y);
        left:0;

        width: 10px;
        height: 10px;

        background: rgb(253, 174, 174);

    }
}

