.section_products {}

.products-list {
    @include reset_mp();
    list-style:none;
    font-size: 0;
}

.produsct-list__item {
    @include inlbl();
    width: 267px;

    margin-right: 26px;

    &:last-child() {
        margin-right: 0;
    }
}

.products-list__hit {}

.products-list__wrap-img {
    position: relative;
    width: 267px;
    height: 267px;
}

.products-list__img {}

.products-list__img_hit {
    position: absolute;
    top: 0;
}

.products-list__info {
    margin-top: -57px;
}

.products-list__price-val-img {
    position: relative;
    @include inlbl(middle);
    margin-top: 5px;
    margin-left: 3px;
}

.products-list__price, .products-list__val-weight {
    @include inlbl(middle);
    position: relative;
    margin: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: $font-bold;
}

.products-list__val-weight {
    vertical-align: bottom;
    margin-left: 3px;
    font-size: 30px;
    line-height: 35px;
}

.products-list__desc {
    margin: 0;
    margin-top: 30px;

    font-size: 16px;
    font-weight: $font-medium;
    text-align: center;

    text-decoration: underline;
    text-decoration-color: rgba($color-text-base,.2);
}