.slider {
  position: relative;
  text-align: center;
}

.slider__slide {
  position: relative;
}


.slider__wrap-img {
  max-height: 590px;
}

.slider__info {
  position: absolute;
  bottom: 65px;
}

.slider__slide-title {
  font-weight: $font-bold;
  font-size: 60px;
  line-height: 65px;
  padding-left: 220px;
  padding-right: 220px;
  margin: 0;
  margin-bottom:25px;
}

.slider__slide-btn {
  width:279px;
  font-size: 32px;
  line-height: 32px;
}