.user-block {
  position: relative;

  width: 420px;
  text-align: right;
  padding-top: 14px;
}

.user-block__link {
  position: relative;
  @include inlbl();
  width: 93px;
  height: 33px;

  margin-left: 10px;

  background: rgba($background-color-base, .2);

  border-radius: 16px;

  line-height: 11px;
  font-size: 14px;
  font-weight: $font-medium;
  color: $color-text-base;

  text-decoration: none;
  text-align: left;
  padding-left: 42px;
  padding-top: 12px;

  transition: color, background .2s ease;

  &:before {
    content: '';
    position: absolute;
    @include centered(y);
    left:15px;
  }

  &:hover {
    cursor: pointer;
    color: $color-text-black-1;
    background: $background-color-base;
  }
}

.user-block__link_acc {
  &:before {
    @include sprite($in);
  }

  &:hover {
    &:before {
      @include sprite($in-hover);
    }
  }
}

.user-block__link_shop-cart {
  width: 117px;
  
  &:before {
    @include sprite($shop-cart);
  }

  &:hover {
    @extend .user-block__link_shop-cart_full;
  }
}

.user-block__link_shop-cart_full {
  &:before {
    @include sprite($shop-cart-hover);
  }
}

.user-block__form-login {
  position: absolute;
  top: 100%;
  right: 131px;
  margin-top: 4px;
  z-index: 100;
  text-align: left;
}

.user-block__form-shop {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  z-index: 100;
}