.blog-card.section_marketing__blog-card
  img(src="imgs/content/blog1.jpg", alt="").blog-card__img
  p.blog-card__title Новое в нашем блоге
  a(href="#").blog-card__link 10 способов сервировки <br>фруктовых щербетов к столу