.copyright.main-footer__copyright
  a(href="#").copyright__wrap-img
    img(src="imgs/content/logo-footer.png", alt="htmlacademy").copyright__logo
  p.copyright__text Сделано в 
  a(href="#").link_white.copyright__text.copyright__text_link HTML Academy 
  p.copyright__text &copy; 2017 