ul.footer-menu.main-footer__footer-menu
  -
    var menu = [
      {
        "text" : "Для поставщиков",
        "url" : "#"
      },
      {
        "text" : "Наши документы",
        "url" : "#"
      },
      {
        "text" : "О производстве",
        "url" : "#"
      },
      {
        "text" : "Экологические стандарты",
        "url" : "#"
      }
    ]
  each item in menu
    li.footer-menu__item
      a(href=`${item.url}` title=`${item.text}`).footer-menu__link=item.text 