form(action="#").form-login.user-block__form-login
  label.form-login__label Ваш e-mail:
  input(type="text" placeholder='Email' name='login').form-login__input
  label.form-login__label Пароль:
  input(type="password" placeholder='Password' name='password').form-login__input
  button(type='submit').form-login__btn.btn Войти
  p.form-login__links
    a(href="#").form-login__link.link_black Забыли пароль?
    <br>
    a(href="#").form-login__link.link_black Новая регистрация