form(action="#").form-email
  p.form-email__desc Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =) 
  label(for='email').form-email__label Ваш e-mail:
  input(type="text" placeholder='Электронная почта' id='email' name='email').form-email__input
  button(type='submit').btn.form-email__btn Отправить