section.section.section_map
  h2.section__title Где мы находимся?
  img(src="imgs/content/background-map.jpg", alt="map").section_map__img
  #map
  .container
    .section_map__info
      p.section_map__text Адрес главного офиса<br/> и офлайн магазина:
        span.section_map__text_bold ул. Большая Конюшенная <br/> 19/8, Санкт-Петербург
      p.section_map__text Для заказов по телефону: 
        span.section_map__text_bold 8 812 450-25-25(с 10 до 20 ежедневно)
      a(href="#").btn.section_map__btn Форма обратной связи