section.section.section_about
  h2.section__title.section_about__title Магазин Глейси - это онлайн и офлайн магазин по продаже мороженого собственного производства на развес
  ul.advantages-list
  each item in advantages
    li.advantages-list__item(class=`${item.icon}`)
        p.advantages-list__desc= item.desc