section.section.section_surprise
  h2.section__title Наши подарки:
  ul.surprise-list
    each item in surpriselist
      li.surprise-list__item
        img(src="" + item.img, alt="").surprise-list__img
        p.surprise-list__title=item.title
        p.surprise-list__desc=item.desc
        a(href="#").btn.surprice-list__btn=item.btn  