.slider.main-header__slider
  .slider__slide
    .slider__wrap-img
      img(src="imgs/content/ice-cream.png", alt="").slider__slide-img
    .slider__info
      p.slider__slide-title Крем-брюле и пломбир с малиновым джемом     
      a(href="#").btn.slider__slide-btn Давайте оба