form(action="#").sort
  .sort__type
    p.sort__title Сортировка:
    input(type="text")
  .sort__price
    p.sort__title Цена:
    input(type="text")
  .sort__fat
    p.sort__title Жирность:
    input(type="text")
  .sort__fillers
    p.sort__title Наполнители:
    input(type="text")
  button.sort__btn Применить