<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="display:none">
	
		<symbol id="cart" viewbox="0 0 15 15">
			<circle fill="#a6a6a6" cx="4.5" cy="13.5" r="1.5"/><circle fill="#a6a6a6" cx="12.5" cy="13.5" r="1.5"/><path fill="#a6a6a6" d="M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z"/>
		</symbol>
	
		<symbol id="x-icon" viewbox="0 0 10.125 10.124">
			<defs><style>.cls-1{fill:#353535;fill-rule:evenodd}</style></defs><path id="_&#x425;" data-name="&#x425;" class="cls-1" d="M890.86 779.139l.708-.707L901 787.86l-.707.707zm9.438-.716l.707.707-9.428 9.429-.708-.708z" transform="translate(-890.875 -778.438)"/>
		</symbol>
	
</svg>
