.user-block.main-nav__user-block
  form(action="#").find
    input(type="text" id='find-input' name='find-input').find__input
    button(type='submit').find__button Найти
  a(href="#").user-block__link.user-block__link_acc Вход
  a(href="#").user-block__link.user-block__link_shop-cart Пусто
  p.work-info.user-block__work-info
    span.work-info__time С 10 до 20, ежедневно
    a(href="tel:+7124502525").work-info__tel 8 812 450-25-25