// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$in-name: 'in';
$in-x: 21px;
$in-y: 0px;
$in-offset-x: -21px;
$in-offset-y: 0px;
$in-width: 21px;
$in-height: 19px;
$in-total-width: 42px;
$in-total-height: 37px;
$in-image: '../imgs/decorate/sprite/sprite.png';
$in: (21px, 0px, -21px, 0px, 21px, 19px, 42px, 37px, '../imgs/decorate/sprite/sprite.png', 'in', );
$shop-cart-name: 'shop-cart';
$shop-cart-x: 0px;
$shop-cart-y: 0px;
$shop-cart-offset-x: 0px;
$shop-cart-offset-y: 0px;
$shop-cart-width: 21px;
$shop-cart-height: 20px;
$shop-cart-total-width: 42px;
$shop-cart-total-height: 37px;
$shop-cart-image: '../imgs/decorate/sprite/sprite.png';
$shop-cart: (0px, 0px, 0px, 0px, 21px, 20px, 42px, 37px, '../imgs/decorate/sprite/sprite.png', 'shop-cart', );
$zoom-name: 'zoom';
$zoom-x: 0px;
$zoom-y: 20px;
$zoom-offset-x: 0px;
$zoom-offset-y: -20px;
$zoom-width: 17px;
$zoom-height: 17px;
$zoom-total-width: 42px;
$zoom-total-height: 37px;
$zoom-image: '../imgs/decorate/sprite/sprite.png';
$zoom: (0px, 20px, 0px, -20px, 17px, 17px, 42px, 37px, '../imgs/decorate/sprite/sprite.png', 'zoom', );
$spritesheet-width: 42px;
$spritesheet-height: 37px;
$spritesheet-image: '../imgs/decorate/sprite/sprite.png';
$spritesheet-sprites: ($in, $shop-cart, $zoom, );
$spritesheet: (42px, 37px, '../imgs/decorate/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
