// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-animal-name: 'icon-animal';
$icon-animal-x: 0px;
$icon-animal-y: 49px;
$icon-animal-offset-x: 0px;
$icon-animal-offset-y: -49px;
$icon-animal-width: 48px;
$icon-animal-height: 49px;
$icon-animal-total-width: 119px;
$icon-animal-total-height: 98px;
$icon-animal-image: '../imgs/decorate/sprite/sprite.png';
$icon-animal: (0px, 49px, 0px, -49px, 48px, 49px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'icon-animal', );
$icon-celci-name: 'icon-celci';
$icon-celci-x: 48px;
$icon-celci-y: 49px;
$icon-celci-offset-x: -48px;
$icon-celci-offset-y: -49px;
$icon-celci-width: 48px;
$icon-celci-height: 49px;
$icon-celci-total-width: 119px;
$icon-celci-total-height: 98px;
$icon-celci-image: '../imgs/decorate/sprite/sprite.png';
$icon-celci: (48px, 49px, -48px, -49px, 48px, 49px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'icon-celci', );
$icon-ice-name: 'icon-ice';
$icon-ice-x: 0px;
$icon-ice-y: 0px;
$icon-ice-offset-x: 0px;
$icon-ice-offset-y: 0px;
$icon-ice-width: 49px;
$icon-ice-height: 49px;
$icon-ice-total-width: 119px;
$icon-ice-total-height: 98px;
$icon-ice-image: '../imgs/decorate/sprite/sprite.png';
$icon-ice: (0px, 0px, 0px, 0px, 49px, 49px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'icon-ice', );
$icon-list-name: 'icon-list';
$icon-list-x: 49px;
$icon-list-y: 0px;
$icon-list-offset-x: -49px;
$icon-list-offset-y: 0px;
$icon-list-width: 49px;
$icon-list-height: 49px;
$icon-list-total-width: 119px;
$icon-list-total-height: 98px;
$icon-list-image: '../imgs/decorate/sprite/sprite.png';
$icon-list: (49px, 0px, -49px, 0px, 49px, 49px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'icon-list', );
$in-hover-name: 'in-hover';
$in-hover-x: 98px;
$in-hover-y: 40px;
$in-hover-offset-x: -98px;
$in-hover-offset-y: -40px;
$in-hover-width: 21px;
$in-hover-height: 19px;
$in-hover-total-width: 119px;
$in-hover-total-height: 98px;
$in-hover-image: '../imgs/decorate/sprite/sprite.png';
$in-hover: (98px, 40px, -98px, -40px, 21px, 19px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'in-hover', );
$in-name: 'in';
$in-x: 98px;
$in-y: 59px;
$in-offset-x: -98px;
$in-offset-y: -59px;
$in-width: 21px;
$in-height: 19px;
$in-total-width: 119px;
$in-total-height: 98px;
$in-image: '../imgs/decorate/sprite/sprite.png';
$in: (98px, 59px, -98px, -59px, 21px, 19px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'in', );
$shop-cart-hover-name: 'shop-cart-hover';
$shop-cart-hover-x: 98px;
$shop-cart-hover-y: 0px;
$shop-cart-hover-offset-x: -98px;
$shop-cart-hover-offset-y: 0px;
$shop-cart-hover-width: 21px;
$shop-cart-hover-height: 20px;
$shop-cart-hover-total-width: 119px;
$shop-cart-hover-total-height: 98px;
$shop-cart-hover-image: '../imgs/decorate/sprite/sprite.png';
$shop-cart-hover: (98px, 0px, -98px, 0px, 21px, 20px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'shop-cart-hover', );
$shop-cart-name: 'shop-cart';
$shop-cart-x: 98px;
$shop-cart-y: 20px;
$shop-cart-offset-x: -98px;
$shop-cart-offset-y: -20px;
$shop-cart-width: 21px;
$shop-cart-height: 20px;
$shop-cart-total-width: 119px;
$shop-cart-total-height: 98px;
$shop-cart-image: '../imgs/decorate/sprite/sprite.png';
$shop-cart: (98px, 20px, -98px, -20px, 21px, 20px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'shop-cart', );
$zoom-name: 'zoom';
$zoom-x: 98px;
$zoom-y: 78px;
$zoom-offset-x: -98px;
$zoom-offset-y: -78px;
$zoom-width: 17px;
$zoom-height: 17px;
$zoom-total-width: 119px;
$zoom-total-height: 98px;
$zoom-image: '../imgs/decorate/sprite/sprite.png';
$zoom: (98px, 78px, -98px, -78px, 17px, 17px, 119px, 98px, '../imgs/decorate/sprite/sprite.png', 'zoom', );
$spritesheet-width: 119px;
$spritesheet-height: 98px;
$spritesheet-image: '../imgs/decorate/sprite/sprite.png';
$spritesheet-sprites: ($icon-animal, $icon-celci, $icon-ice, $icon-list, $in-hover, $in, $shop-cart-hover, $shop-cart, $zoom, );
$spritesheet: (119px, 98px, '../imgs/decorate/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
