// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fb-name: 'fb';
$fb-x: 129px;
$fb-y: 64px;
$fb-offset-x: -129px;
$fb-offset-y: -64px;
$fb-width: 32px;
$fb-height: 32px;
$fb-total-width: 161px;
$fb-total-height: 130px;
$fb-image: '../imgs/decorate/sprite.png';
$fb: (129px, 64px, -129px, -64px, 32px, 32px, 161px, 130px, '../imgs/decorate/sprite.png', 'fb', );
$hart-name: 'hart';
$hart-x: 70px;
$hart-y: 98px;
$hart-offset-x: -70px;
$hart-offset-y: -98px;
$hart-width: 15px;
$hart-height: 13px;
$hart-total-width: 161px;
$hart-total-height: 130px;
$hart-image: '../imgs/decorate/sprite.png';
$hart: (70px, 98px, -70px, -98px, 15px, 13px, 161px, 130px, '../imgs/decorate/sprite.png', 'hart', );
$icon-animal-name: 'icon-animal';
$icon-animal-x: 48px;
$icon-animal-y: 49px;
$icon-animal-offset-x: -48px;
$icon-animal-offset-y: -49px;
$icon-animal-width: 48px;
$icon-animal-height: 49px;
$icon-animal-total-width: 161px;
$icon-animal-total-height: 130px;
$icon-animal-image: '../imgs/decorate/sprite.png';
$icon-animal: (48px, 49px, -48px, -49px, 48px, 49px, 161px, 130px, '../imgs/decorate/sprite.png', 'icon-animal', );
$icon-celci-name: 'icon-celci';
$icon-celci-x: 0px;
$icon-celci-y: 49px;
$icon-celci-offset-x: 0px;
$icon-celci-offset-y: -49px;
$icon-celci-width: 48px;
$icon-celci-height: 49px;
$icon-celci-total-width: 161px;
$icon-celci-total-height: 130px;
$icon-celci-image: '../imgs/decorate/sprite.png';
$icon-celci: (0px, 49px, 0px, -49px, 48px, 49px, 161px, 130px, '../imgs/decorate/sprite.png', 'icon-celci', );
$icon-ice-name: 'icon-ice';
$icon-ice-x: 0px;
$icon-ice-y: 0px;
$icon-ice-offset-x: 0px;
$icon-ice-offset-y: 0px;
$icon-ice-width: 49px;
$icon-ice-height: 49px;
$icon-ice-total-width: 161px;
$icon-ice-total-height: 130px;
$icon-ice-image: '../imgs/decorate/sprite.png';
$icon-ice: (0px, 0px, 0px, 0px, 49px, 49px, 161px, 130px, '../imgs/decorate/sprite.png', 'icon-ice', );
$icon-list-name: 'icon-list';
$icon-list-x: 49px;
$icon-list-y: 0px;
$icon-list-offset-x: -49px;
$icon-list-offset-y: 0px;
$icon-list-width: 49px;
$icon-list-height: 49px;
$icon-list-total-width: 161px;
$icon-list-total-height: 130px;
$icon-list-image: '../imgs/decorate/sprite.png';
$icon-list: (49px, 0px, -49px, 0px, 49px, 49px, 161px, 130px, '../imgs/decorate/sprite.png', 'icon-list', );
$in-hover-name: 'in-hover';
$in-hover-x: 32px;
$in-hover-y: 98px;
$in-hover-offset-x: -32px;
$in-hover-offset-y: -98px;
$in-hover-width: 21px;
$in-hover-height: 19px;
$in-hover-total-width: 161px;
$in-hover-total-height: 130px;
$in-hover-image: '../imgs/decorate/sprite.png';
$in-hover: (32px, 98px, -32px, -98px, 21px, 19px, 161px, 130px, '../imgs/decorate/sprite.png', 'in-hover', );
$in-name: 'in';
$in-x: 98px;
$in-y: 76px;
$in-offset-x: -98px;
$in-offset-y: -76px;
$in-width: 21px;
$in-height: 19px;
$in-total-width: 161px;
$in-total-height: 130px;
$in-image: '../imgs/decorate/sprite.png';
$in: (98px, 76px, -98px, -76px, 21px, 19px, 161px, 130px, '../imgs/decorate/sprite.png', 'in', );
$inst-name: 'inst';
$inst-x: 129px;
$inst-y: 32px;
$inst-offset-x: -129px;
$inst-offset-y: -32px;
$inst-width: 32px;
$inst-height: 32px;
$inst-total-width: 161px;
$inst-total-height: 130px;
$inst-image: '../imgs/decorate/sprite.png';
$inst: (129px, 32px, -129px, -32px, 32px, 32px, 161px, 130px, '../imgs/decorate/sprite.png', 'inst', );
$rub-name: 'rub';
$rub-x: 98px;
$rub-y: 0px;
$rub-offset-x: -98px;
$rub-offset-y: 0px;
$rub-width: 31px;
$rub-height: 36px;
$rub-total-width: 161px;
$rub-total-height: 130px;
$rub-image: '../imgs/decorate/sprite.png';
$rub: (98px, 0px, -98px, 0px, 31px, 36px, 161px, 130px, '../imgs/decorate/sprite.png', 'rub', );
$shop-cart-hover-name: 'shop-cart-hover';
$shop-cart-hover-x: 98px;
$shop-cart-hover-y: 36px;
$shop-cart-hover-offset-x: -98px;
$shop-cart-hover-offset-y: -36px;
$shop-cart-hover-width: 21px;
$shop-cart-hover-height: 20px;
$shop-cart-hover-total-width: 161px;
$shop-cart-hover-total-height: 130px;
$shop-cart-hover-image: '../imgs/decorate/sprite.png';
$shop-cart-hover: (98px, 36px, -98px, -36px, 21px, 20px, 161px, 130px, '../imgs/decorate/sprite.png', 'shop-cart-hover', );
$shop-cart-name: 'shop-cart';
$shop-cart-x: 98px;
$shop-cart-y: 56px;
$shop-cart-offset-x: -98px;
$shop-cart-offset-y: -56px;
$shop-cart-width: 21px;
$shop-cart-height: 20px;
$shop-cart-total-width: 161px;
$shop-cart-total-height: 130px;
$shop-cart-image: '../imgs/decorate/sprite.png';
$shop-cart: (98px, 56px, -98px, -56px, 21px, 20px, 161px, 130px, '../imgs/decorate/sprite.png', 'shop-cart', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 98px;
$tw-offset-x: 0px;
$tw-offset-y: -98px;
$tw-width: 32px;
$tw-height: 32px;
$tw-total-width: 161px;
$tw-total-height: 130px;
$tw-image: '../imgs/decorate/sprite.png';
$tw: (0px, 98px, 0px, -98px, 32px, 32px, 161px, 130px, '../imgs/decorate/sprite.png', 'tw', );
$vk-name: 'vk';
$vk-x: 129px;
$vk-y: 0px;
$vk-offset-x: -129px;
$vk-offset-y: 0px;
$vk-width: 32px;
$vk-height: 32px;
$vk-total-width: 161px;
$vk-total-height: 130px;
$vk-image: '../imgs/decorate/sprite.png';
$vk: (129px, 0px, -129px, 0px, 32px, 32px, 161px, 130px, '../imgs/decorate/sprite.png', 'vk', );
$zoom-name: 'zoom';
$zoom-x: 53px;
$zoom-y: 98px;
$zoom-offset-x: -53px;
$zoom-offset-y: -98px;
$zoom-width: 17px;
$zoom-height: 17px;
$zoom-total-width: 161px;
$zoom-total-height: 130px;
$zoom-image: '../imgs/decorate/sprite.png';
$zoom: (53px, 98px, -53px, -98px, 17px, 17px, 161px, 130px, '../imgs/decorate/sprite.png', 'zoom', );
$spritesheet-width: 161px;
$spritesheet-height: 130px;
$spritesheet-image: '../imgs/decorate/sprite.png';
$spritesheet-sprites: ($fb, $hart, $icon-animal, $icon-celci, $icon-ice, $icon-list, $in-hover, $in, $inst, $rub, $shop-cart-hover, $shop-cart, $tw, $vk, $zoom, );
$spritesheet: (161px, 130px, '../imgs/decorate/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
