.wrapper {
	min-height: 100%;
	position: relative;
  overflow: hidden;
  min-width: 1200px;
}

.container {
  position: relative;
  width:  1200px;
  padding-left: 27px;
  padding-right:  27px;
  margin: 0 auto;

  @extend %clearfix;

}


.outline_red {
  outline: 1px solid rgb(255, 52, 52);
}

.outline_green {
  outline: 1px solid rgb(4, 75, 4);
}


