extends ../layouts/_main.layout.pug

append sharedVars
  - var pageUrl = 'index.html';

block title 
    | The main title of index page

block content
  header.main-header
    .container
      include ../blocks/main-nav
      include ../blocks/nav-info
      include ../blocks/slider

  main.main-content
    .container
      include ../blocks/section_surprise
      include ../blocks/section_products
      include ../blocks/section_about
  //-     include ../blocks/section_marketing
  //-   include ../blocks/section_map
    
  //- footer.main-footer
  //-   .container
  //-     include ../blocks/socials
  //-     include ../blocks/footer-menu
      
  //-     .copyright.main-footer__copyright
  //-       .copyright__wrap-img
  //-         img(src="#", alt="htmlacademy").copyright__logo
  //-       p.copyright__texty Сделано в HTML Academy &copy; 2017 
